# Normaliza quebras de linha automaticamente
* text=auto

# Força LF para arquivos de código
*.cs text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf

# Arquivos binários — não mexe nas quebras de linha
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.zip binary