# .NET
boleto-verifier-api/bin/
boleto-verifier-api/obj/
boleto-verifier-api/*.user
boleto-verifier-api/.vs/

# Segredos — NUNCA subir para o Git
boleto-verifier-api/appsettings.Development.json
.env

# Docker
boleto-verifier-api/Properties/launchSettings.json

# Logs
*.log
logs.zip

# Sistema operacional
.DS_Store
Thumbs.db

# Outros
annotation/
docs/
boleto-verifier-def.sln
